@media (min-width: 1200px) { /* 1170 */
	/* Normal Size for desktop */
	.block-streams .post-box-oblog {min-height: 169px;}
}
@media (max-width: 1199px) and (min-width: 992px) { /* 970 */
	/* Ads */
	.vp-1170{display: none;}
	.vp-750{display: none;}
	.vp-fluid{display: none;}
	.vp-970{display: block;}
	.vp-320{display: none;}

	/* Header */

	/* Category & Archives & Search & Posts Related */
	.col-sm-8 .el-blocked-slide.maha_royalSlider{height: 340px;}
	.i-slide .full .detail h2 {font-size: 42px;}
	.page-sidebar .i-slide .full .detail h2 {font-size: 30px;}
	.post-box-full h3 {font-size: 28px}

	.meta-author .author-thumb {width: 88px;}
	.meta-author .author-info {margin-left: 112px;}
	.post-box-oblog .thumb-wrap img {width: 200px;}
	.block-streams .post-box-oblog {padding-left: 226px;min-height: 131px;}

	.blocked-carousel .carousel-prev, .blocked-carousel .carousel-next{top: 56px;}

	.page-sidebar .i-slide .detail h2 {font-size: 16px;}
	.page-sidebar .i-slide .big .detail h2 {font-size: 22px;}
	.page-sidebar .i-slide .full .detail h2 {font-size: 38px;}

	/* Sidebar */
	.social_subscribe .social-network{width: 100%;}
	.widget_ads .ads_box .ads_inner {padding: 28px 21px 24px 21px;}
	.widget_popular_post .nav-popular-post li a { padding: 10px 0; font-size: 16px; }

	/* Single */
	.next-prev .next{padding-right: 65px;}
	.next-prev .next i{right: 10px;}
	.next-prev .prev, .next-prev .prev:last-child{padding-left: 65px;}
	.next-prev .prev i{left: 10px;}

	.single .cover {min-height: 460px;}
	.single .cover .detail h1{font-size: 44px;}

}
@media (max-width: 991px) and (min-width: 768px) { /* 750 */
	/* Ads */
	.vp-1170{display: none;}
	.vp-970{display: none;}
	.vp-fluid{display: none;}
	.vp-750{display: block;}
	.vp-320{display: none;}

	/* Header */
	#thelogo{max-width: 200px;}
	#thelogo.the-logo-center{max-width: 200px;margin: 0 auto;}
        
        /*.main-logo-center .col-sm-12{text-align: center}*/
	#main-ads .vp-750{padding-top: 0px;}

	/* Category & Archives & Search */
	.col-sm-8 .el-blocked-slide.maha_royalSlider{height: 258px;}
	.i-slide .detail h2 {font-size: 16px;}
	.i-slide .big .detail h2 {font-size: 24px;}
	.i-slide .full .detail h2 {font-size: 38px;}
	.page-sidebar .i-slide .full .detail h2 {font-size: 22px;}
	.post-box-full h3 {font-size: 28px}

	.page-sidebar .wrap-moz-slide .rsOverflow{height: 550px !important;}
	.page-sidebar .i-slide .big{width: 100%; height: 274px;}
	.page-sidebar .i-slide .medium{width: 100%; height: 137px;}
	.page-sidebar .i-slide .small2{width: 100%; height: 137px;}
	.page-sidebar .i-slide .small{width: 50%; height: 137px; float: left;}

	.meta-author .author-thumb {width: 74px;}
	.meta-author .author-info {margin-left: 100px;}
	.post-box-oblog .thumb-wrap img {width: 158px;}
	.block-streams .post-box-oblog {padding-left: 182px;min-height: 103px;}

	.blocked-carousel .carousel-prev, .blocked-carousel .carousel-next{top: 59px;}

	.post-box-big h3 {font-size: 22px;}
	.post-box-big .meta-info{opacity: 0.4;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);}
	.post-box-big .meta-info:hover{opacity: 1;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}

	/* Sidebar */
	.social_subscribe .social-network{width: 100%;}
	.widget_menus ul li{width: 100%;}
	.widget_ads .ads_box .ads_inner {padding: 21px 17px 20px 17px;}
	.widget_review .meta-count{display: none;}
	.widget_popular_post .nav-popular-post li a { padding: 10px 0; font-size: 14px; }

	/* Single */
	.next-prev a{min-height: 132px;}
	.next-prev .next{padding-right: 55px;}
	.next-prev .next i{right: 5px;}
	.next-prev .prev, .next-prev .prev:last-child{padding-left: 55px;}
	.next-prev .prev i{left: 5px;}

	.meta-review{width: 234px;}
	.meta-review .review-visual{height: auto;}
	.meta-review .review-visual i{font-size: 83px;}
	.meta-review .review-visual.circle canvas{margin-top: 13px;width: 70px;}
	.meta-review .review-visual .visual-value{font-size: 64px; padding-top: 12px;}

	.single-boxed .play-the-media {right: 8.5%;}
	.single .cover {min-height: 410px;}
	.single .cover .detail h1{font-size: 38px;}
	.bottom.meta-share i { margin-right: 70px; }
	
}
/*@media screen and (-webkit-min-device-pixel-ratio: 2)    and (max-width: 991px) and (min-width: 768px),@media only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 991px) and (min-width: 768px),@media only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 991px) and (min-width: 768px),@media only screen and (        min-device-pixel-ratio: 2)      and (max-width: 991px) and (min-width: 768px),@media only screen and (                min-resolution: 192dpi) and (max-width: 991px) and (min-width: 768px),@media only screen and (                min-resolution: 2dppx)  and (max-width: 991px) and (min-width: 768px) {
	#thelogo{width: 300px !important;}
	#thelogo.the-logo-center{width: 300px !important;margin: 0 auto;}
	}*/
@media (max-width: 767px) { /* Fluid */
	/* Ads */
	.vp-1170{display: none;}
	.vp-970{display: none;}
	.vp-750{display: none;}
	.vp-320{display: block;}
	/*.vp-fluid{display: block;}*/
	.el-block-6 .col-sm-3, .el-block-6 .col-sm-4{
	width:100% !important;
	}
	/* Header */
	.off-canvas-body{margin-top: 0px !important;}
	#thelogo{margin-bottom: 15px}
	#top-nav-wrapper, .main-nav-bar{display: none;}
	.ul-nav ul li a{padding: 7px 11px 6px;}
	.main-logo-ads-wrap, #thelogo, #main-ads{text-align: center; float: none;}
	.main-logo-ads-wrap{padding-bottom: 14px; -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2); box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);}
	#top-mobile-wrapper{display: block;}
	#body-maha{background-image: none !important;background: #212121 !important;}

	/* Category & Archives & Search */
	.col-sm-8 .el-blocked-slide.maha_royalSlider{height: 340px;}

	.wrap-moz-slide.maha_royalSlider{overflow: hidden;}
	.i-slide .detail h2 {font-size: 16px;}
	.i-slide .big .detail h2 {font-size: 24px;}
	.i-slide .full .detail h2, .page-sidebar .i-slide .full .detail h2 {font-size: 18px;}
	.i-slide .full .meta-info, .i-slide .full .meta-count{display: none;}
	.post-box-full h3 {font-size: 28px}

	.meta-author .author-thumb {width: auto; text-align: center;}
	.meta-author .author-info {margin-left: 112px;}
	.post-box-oblog .thumb-wrap,
	.post-box-oblog .thumb-wrap a img{-webkit-transition: 0s; -moz-transition: 0s; -ms-transition: 0s; -o-transition: 0s; transition: 0s; }
	.post-box-oblog .thumb-wrap{width: 28%;}
	.block-streams .post-box-oblog {padding-left: 32%;}
	.block-streams .post-box-oblog .meta-info{display: none;}
	.block-streams .post-box-oblog h3{font-size: 22px}
	.s-number{display: none;}

	.blocked-carousel .carousel-prev, .blocked-carousel .carousel-next{top: 42px;}

	.block-streams .thumb-wrap {background: #fff;}
	.maha-crumbs{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.meta-author .author-thumb img {float: none; margin-bottom: 15px; max-width: 150px; width: 60%;}
	.meta-author .author-info{margin-left: 0px;text-align: center;}

	.pagination{margin-top: 20px;}

	/* Sidebar */
	.sidebar{padding-left: 0px;margin-top: 90px;}
	.widget_ads .ads_box .ads_inner {padding: 21px 17px 20px 17px;}

	/* Single */
	.featured-extra{display: none !important;}
	.next-prev a{
		width: 100%;
		-webkit-box-shadow: 0px -1px 0 #dadada inset;
		-moz-box-shadow: 0px -1px 0 #dadada inset;
		box-shadow: 0px -1px 0 #dadada inset;
		padding: 20px !important;
		text-align: center !important;
		min-height: 100%;
	}
	.next-prev a i{display: none;}
	.next-prev .prev:last-child{
		-webkit-box-shadow: 0px 0px 0 #dadada inset !important;
		-moz-box-shadow: 0px 0px 0 #dadada inset !important;
		box-shadow: 0px 0px 0 #dadada inset !important;
	}

	.related-article .col-sm-4{margin-bottom: 40px;}
	.related-article .col-sm-4:last-child{margin-bottom: 0px;}

	.comment-list .children > li{padding-left: 0px;}

	.single-boxed .play-the-media {right: 3.3%;}
	.cover-wrap{min-height: 160px;}
	.single .cover {min-height: 370px;}
	.single .cover .detail h1{font-size: 30px;margin-right: 18%;}
	.single .cover .single-subtitle{margin-right: 18%;}
	.single-parallax .cover .detail{padding-left: 2px; padding-right: 2px;}
	.single-boxed .cover .detail{padding-left: 20px; padding-right: 20px;}

	.f-copyright .row{ text-align: center;}
	.f-copyright nav ul{ text-align: center; margin-top: 5px;}

	.animati-on .up-up,
	.animati-on .up-up-child > div{opacity: 1}
    .single-parallax .cover-wrap{height: auto;min-height: 0}
    .back-nav{bottom: 35px; right: 20px;height: 37px;border-radius: 40px;}
    .back-nav i{font-size: 30px;margin: 8px 1px 0 1px;}

	/* Responsive
	---------------------------------------------------------------------------*/
	/* Mozilla Firefox */

}

/* Small Devices */
@media (max-width: 590px) { /* Moz Slider */
	.wrap-moz-slide, .wrap-moz-slide .rsOverflow{height: 550px !important;}
	.i-slide .big{width: 100%; height: 274px;}
	.i-slide .medium{width: 100%; height: 137px;}
	.i-slide .small2{width: 100%; height: 137px;}
	.i-slide .small{width: 50%; height: 137px; float: left;}
	
	.i-slide .small .meta-count{display: none;}
	.i-slide .detail h2 {font-size: 16px;}
	.i-slide .big .detail h2 {font-size: 22px;}

	.play-the-media, .single-boxed .play-the-media {right: 0%;bottom: -33px;}
	.single .cover .detail h1{font-size: 26px;}
	.cover .meta-share{float: left;margin-left: 25px;margin-top: 11px; position: inherit;}

	.bottom.meta-share i { margin-right: 10%; }
    .reveal-modal{width: 80%;margin-left: -40%;}
    .reveal-modal .col-sm-4,.reveal-modal .cur-btn{width: 100% !important;text-align: center !important;padding: 0 !important;position: relative;margin-top: 0px;}
    .reveal-modal .col-sm-4 a{line-height: 20px !important;}

}
@media (max-width: 450px) { /* Review */
	.meta-review{width: 100%;}
	.single .cover .single-subtitle{display: none;}
	.widget_popular_post .nav-popular-post li a { font-size: 16px; }
}
@media (max-width: 350px) { /* Sidebar & Review */

	/* Sidebar */
	.social_subscribe .social-network{width: 100%;}
	.widget_menus ul li{width: 100%;}
	.widget_review .meta-count{display: none;}
	.widget_popular_post .nav-popular-post li a { font-size: 16px; }

	/* Review */
	.meta-review .review-visual{height: auto;}
	.meta-review .review-visual i{font-size: 71px;}
	.meta-review .review-visual.circle canvas{margin-top: 9px;width: 66px;}
	.meta-review .review-visual .visual-value{font-size: 58px; padding-top: 9px;}

	.bottom.meta-share i { font-size: 26px; }
}